{% extends "base.html" %}{% block content %}
<h1>Edit Draft #{{ exam.id }}: {{ exam.title }}</h1>
<form method="POST">{{ form.hidden_tag() }}
<div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
<div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control", rows=5) }}</div>
<div class="mb-3">{{ form.instructions.label }} {{ form.instructions(class="form-control", rows=8) }}</div>
<input type="submit" value="Update Draft" class="btn btn-success btn-lg"></form>
{% endblock %}
